# {{ namespace }}.{{ collection_name }}

This repo hosts the Ansible collection `{{ namespace }}.{{ collection_name }}`

## Status

## Descruption

## TODO

* [TODO.md](TODO.md)

## Dependencies

## Requirements

## Usage

### Building

### Testing

## Authors and License

- [{{ author_fullname}}](https://github.com/{{ author_github_id }})

[License](LICENSE.md)

## Credits

- Ansible collection `{{ namespace }}.{{ collection_name }}` generated using [{{ skeleton_name }}]({{ skeleton_url }})
- [Foo](https://github.com)
