# {{ namespace }}.{{ collection_name }}

This repo hosts the Ansible collection ''{{ namespace }}.{{ collection_name }}`

## Status

## Descruption

## TODO

* [TODO.md](TODO.md)

## Dependencies

## Requirements

## Usage

### Building

### Testing

## Authors and License

- [Chris Mulder](https://github.com/chrismulderza)

[License](LICENSE.md)

## Credits

- `ansible-collection-{{ collection_name }}` generated using [...](https://example.com/skeleton-git)
- [Author](https://github.com)
